<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>	
				<binding
					name="tcpBinding"
					transferMode="Buffered"
					maxReceivedMessageSize="65536"
					sendTimeout="00:10:00"
					receiveTimeout="00:10:00"/>
			</netTcpBinding>
		</bindings>

		<services>
			<service name="Service.WeatherService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4080/"/>
					</baseAddresses>
				</host>
				
				<endpoint 
					address="WeatherService"
					binding="netTcpBinding"
					bindingConfiguration="tcpBinding"
					contract="Common.IWeatherService"/>	
			</service>
		</services>
	</system.serviceModel>
</configuration>